---
import { Image } from "astro:assets";
import cosmos from "../assets/scientist/cosmos.avif";
import scientistProfile from "../assets/scientist/scientist-profile.avif";
import ArtifactEntry from "../components/ArtifactEntry.astro";
import ArtifactTimeline from "../components/ArtifactTimeline.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="The Scientist">
  <div class="hero bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
      <Image
        src={scientistProfile}
        class="h-40 w-40 lg:h-80 lg:w-auto object-cover rounded-lg shadow-2xl"
        alt="Kenneth's profile"
      />
      <article class="prose">
        <h1>Kenneth the Scientist</h1>
        <p>
          Scientific research is the primary way I applied by coursework to
          real-world problems. As a result I took classes and geared by learning
          to help my research projects, helping both my own education and also
          allowing me to contribute to the world meaningfully as an
          undergraduate.
        </p>
      </article>
    </div>
  </div>

  <ArtifactTimeline>
    <ArtifactEntry
      title="COSMOS Interface and CSE 351"
      date="Spring 2022"
      subtitle="Applied HW/SW course content to Husky Satellite Lab club project."
      thumbnail={cosmos}
      artifactPath="scientist/cosmos"
      isFirst
    />
    <!--<ArtifactEntry-->
    <!--  title="Research Experiential Learning"-->
    <!--  date="Summer 2022"-->
    <!--  thumbnail={cosmos}-->
    <!--  flip-->
    <!--/>-->
    <!--<ArtifactEntry-->
    <!--  title="Mary Gates Research Scholarship Applications"-->
    <!--  date="Autumn 2022 - Winter 2024"-->
    <!--  thumbnail={cosmos}-->
    <!--/>-->
    <!--<ArtifactEntry-->
    <!--  title="URS 2023"-->
    <!--  date="Spring 2023"-->
    <!--  thumbnail={cosmos}-->
    <!--  flip-->
    <!--/>-->
    <!--<ArtifactEntry title="SfN 2023" date="Autumn 2023" thumbnail={cosmos} />-->
    <!--<ArtifactEntry-->
    <!--  title="CSE 340 and Pinpoint 2.0"-->
    <!--  date="Autumn 2023"-->
    <!--  thumbnail={cosmos}-->
    <!--  flip-->
    <!--/>-->
    <!--<ArtifactEntry-->
    <!--  title="Leadership Experiential Learning Activity"-->
    <!--  date="Winter 2024"-->
    <!--  thumbnail={cosmos}-->
    <!--/>-->
    <!--<ArtifactEntry-->
    <!--  title="CSE 512 Data vis and Neuroscience visualization"-->
    <!--  date="Spring 2024"-->
    <!--  thumbnail={cosmos}-->
    <!--  flip-->
    <!--/>-->
    <!--<ArtifactEntry-->
    <!--  title="AST Merge Driver (PLSE)"-->
    <!--  date="Summer 2024"-->
    <!--  thumbnail={cosmos}-->
    <!--/>-->
    <!--<ArtifactEntry-->
    <!--  title="WRF"-->
    <!--  date="Autumn 2024 - Spring 2025"-->
    <!--  thumbnail={cosmos}-->
    <!--  flip-->
    <!--/>-->
    <!--<ArtifactEntry title="SfN 2024" date="Autumn 2024" thumbnail={cosmos} />-->
    <!--<ArtifactEntry-->
    <!--  title="ASE 2024"-->
    <!--  date="Autumn 2024"-->
    <!--  thumbnail={cosmos}-->
    <!--  flip-->
    <!--/>-->
    <!--<ArtifactEntry-->
    <!--  title=""-->
    <!--  date="Autumn 2024 - Spring 2025"-->
    <!--  thumbnail={cosmos}-->
    <!--  isLast>CSE Departmental Honors (3DGS)</ArtifactEntry-->
    <!--&gt;-->
  </ArtifactTimeline>
</MainLayout>
