---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import { withArtifactPath } from "../utils/path";
interface Props {
	title: string;
	date: string;
	subtitle: string;
	thumbnail?: ImageMetadata;
	artifactPath: string;
	isFirst?: boolean;
	isLast?: boolean;
	flip?: boolean;
}

const {
	title,
	date,
	subtitle,
	thumbnail,
	artifactPath,
	isFirst = false,
	isLast = false,
	flip = false,
} = Astro.props;
---

<li>
  {!isFirst && <hr />}
  <div
    class="timeline-middle h-5 w-5 rounded-full bg-primary border-2 border-base-100"
  >
  </div>

  <div class={flip ? "timeline-end" : "timeline-start"}>
    <a
      href={withArtifactPath(artifactPath)}
      class="card lg:card-side bg-base-100 shadow-lg"
    >
      {
        thumbnail && (
          <figure>
            <Image src={thumbnail} alt="Album" />
          </figure>
        )
      }
      <div class="card-body prose">
        <h2 class="card-title">{title}</h2>
        <i>{date}</i>
        <p>{subtitle}</p>
      </div>
    </a>
  </div>
  {!isLast && <hr />}
</li>
